@mixin clearfix{
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin media($query){
    @media #{$query} {
        @content;
    }
}

@mixin max($width) {
    @include media("(max-width: #{$width})") {
        @content;
    }
}
