.modal-content {
	background-color: $background-color;

	.close {

	}
	.modal-header {
		border-bottom:none;
		padding-top: 16px;
		padding-right: 16px;
	}

	.modal-body {
		text-align: center;
		padding-top: 0;

		.logo {
			margin: 26px 0;
			position: relative;
			left: -40px;
			margin-top: 0;
			&.contribute {
				left: 0;
			}
		}

		.paragraph {
			margin: 10px 60px;
			line-height: 24px;
			margin-bottom: 30px;
			green {
				color: $green;
			}
		}

		.form-control {
			border: none;
			width: 230px;
			height: 30px;
			border-radius: 8px;
		}

		input::-webkit-input-placeholder {
			color: $placeholder_color;
			font-size: 12px;
			line-height: 20px;
		}

		.name {
			margin: 6px auto;
		}

		.email {
			margin: 6px auto;
		}

		.password {
			margin: 12px auto;
			margin-bottom: 20px;
		}

		.password_signup {
			margin: 6px auto;
			margin-bottom: 6px;
			display: inline-block;
		}

		.button {
			background-color: $cute_green;
			width: 230px;
			height: 30px;
			border: none;
			margin-top: 10px;
		}

		.info {
			font-size: 12px;
			color: $light_letter;
			display: block;
			margin: 13px auto;
		}

		.btn_signup {
			font-size: 14px;
			color: $cute_green;
			display: inline-block;
			margin-bottom: 20px;

			.fa-chevron-left {
				margin-right: 12px;
			}
		}

		.checkbox_two {
			margin-top: 18px;
		}
	}
}