.slider {
	position: relative;
	top: 40px;
	max-width: 100%;
	margin: 0 auto;

	.item {
		width: 100%;
		background-image: asset-url("banner.jpg");
		height: 300px;
		min-width: 100%;
		background-size: cover;
		background-position: center;
	}

	li:hover {
		border: 1px solid $green;
	} 

	li.active {
		background-color: $green;
		border: none;
	}
}

@media (max-width: 414px) {
	.slider .item {
		height: 200px;
	}
}
