.tags {
	position: relative;
	width: 910px;
	margin: 0 auto;
	height: 28px;
	border-bottom: 2px solid $white;
	text-align: center;
	margin-bottom: 41px;

	.tag {
		width: 66px;
		padding: 0 20px 8px;
		font-size: 14px;
		color: $light_gray;
		text-align: center;

		&.active {
			border-bottom: 2px solid $green;
			color: #414141;
		}

		&:hover {
			border-bottom: 2px solid $light_green;
			cursor: pointer;
		}
	}
}

@media (max-width: 910px) {
	.tags {
		width: 100%;
	}
}