body.works{
    height: auto;
    min-height: 100%;
    background-image: asset-url('bg.jpeg');
    background-size: auto 100%; 
    background-size: cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -webkit-background-size:cover;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/bg.jpeg,sizingMethod=scale);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    .name {
        margin: 0 auto;
        max-width: 500px;
        border-bottom: 1px solid #fff;
        padding-top: 40px;
        padding-bottom: 20px;
        position: relative;
        top: 40px;
        width: 100%;
        text-align: center;
        .logo {
            height: 40px;
            display: inline-block;
            img {
                height: 100%;
            }
        }
        span {
            font-size: 28px;
            line-height: 32px;
            color: #fff;
            display: block;
        }
    }

    .wrapper {
        position: relative;
        top: 70px;
    }

    .card_work{
        position: relative;
        display: flex;
        margin: 0 auto;
        padding: $padding;
        height: 220px;
        max-width: $max_width;
        text-align: left;
        background-color: $white;
        box-sizing: border-box;
        margin-bottom: 40px;

        @include clearfix;

        .image_box{
            width: 300px;
        }
        .work_content{
            position: relative;
            flex: 1;
            padding-left: $padding;
            padding-bottom: 2em;

            h4{
                margin: 1em 0;
                font-size: 18px;
            }
            span{
                position: absolute;
                bottom: 0.5em;
                left: $padding;
                color: $light_gray;
            }
        }
    }
}

